<div class= "container mt-4">

  <div class= "d-flex buttomShow">
    <div>
      <%= link_to socks_path do %>
      <p>🧦 Back</p>
      <%end%>
    </div>
  </div>

  <div class= "row">
    <div class= "col-6">
      <%= cl_image_tag(@sock.photo.key, width: 400, height: 400, crop: :fill) %>
    </div>

    <div class="col-6">
      <h2 class="sock-title-show">Description:</h2>
      <p><%= @sock.description %>
      <h2 class="sock-title-show">Type:</h2>
      <p><%= @sock.type_of_socks %></p>
      <h2 class="sock-title-show">Price:</h2>
      <div class="d-flex">
        <p><%= @sock.price %> €</p>
        <p id="quantity"><%= @sock.quantity %> left</p>
        <% if policy(@booking).create? %>
          <%= simple_form_for [@sock, @booking] do |f| %>
            <%= f.submit 'Buy now!', class:'btn btn-warning', id:'sweet-alert-demo' %>
          <% end %>
        <% end %>
      </div>

      <div class= "d-flex profilecard w-50 p-2 mt-3">
        <%= link_to user_path(@sock.owner_id) do  %>
          <%= cl_image_tag(@sock.owner.avatar.key, width: 80, height: 80, crop: :fill) %>
        <% end %>
          <p><%= @sock.owner.name %></p>
      </div>
    </div>
  </div>
</div>
