<div class= "container mt-4">
  <div class= "row">

    <div class= "col-6">
      <img class="card-img-top" src="" alt="Card image cap">
    </div>


    <div class="col-6">
      <h2 class="sock-title-show">Description:</h2>
      <p><%= @sock.description %>
      <h2 class="sock-title-show">Type:</h2>
      <p><%= @sock.type_of_socks %></p>
      <h2 class="sock-title-show">Price:</h2>
      <p><%= @sock.price %> €</p>
      <div class= "profilecard">
        <h2 class="sock-title-show">Profile</h2>
        <%= @sock.owner.avatar%>
        <p><%= @sock.owner.name %></p>
      </div>
    </div>



  </div>
</div>
