<div class= "container mt-4">

  <div class= "d-flex buttomShow">
    <div>
      <%= link_to :back do %>
      <p>🧦 Back</p>
      <%end%>
    </div>
  </div>

  <div class= "row">


    <div class= "col-6">
      <%# <img class="card-img-top" src="" alt="Card image cap"> %>
      <%= cl_image_tag(@sock.photo.key, width: 200, height: 200, crop: :fill) %>
    </div>


    <div class="col-6">
      <h2 class="sock-title-show">Description:</h2>
      <p><%= @sock.description %>
      <h2 class="sock-title-show">Type:</h2>
      <p><%= @sock.type_of_socks %></p>
      <h2 class="sock-title-show">Price:</h2>
      <p><%= @sock.price %> €</p>


      <div class= "d-flex profilecard w-50">
        <%= cl_image_tag(@sock.owner.avatar.key, width: 80, height: 80, crop: :fill) %>
        <p><%= @sock.owner.name %></p>
      </div>
    </div>

  </div>
</div>
