<h1>profile page</h1>

<div>
  <p><%= cl_image_tag(@user.avatar.key, width: 200, height: 200, crop: :fill) %></p>
  <p>Name: <%= @user.name %></p>
  <p>Location: <%= @user.location %></p>
  <p>Gender: <%= @user.gender %></p>
  <p>Date of birth: <%= @user.date_of_birth %></p>
</div>
